<mat-toolbar class="background-primary">
  <mat-toolbar-row>
    <mat-icon aria-hidden="false" aria-label="Example home icon" class="margin-right-2x white-text">home</mat-icon>
    <span class="white-text">Adhoc Document Retrieval</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon background-none border-none white-text padding-top-1x" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
