<app-header></app-header>
<br/>
<div class="col-12">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4 text-align-center full-width">
      <app-search-bar (searchQuery) = "getRelevantDocuments($event)"></app-search-bar>
      <div>Top Ranked Documents:</div>
      <section class="example-list-section">
        <ul>
          <li *ngFor="let doc of relevantDocuments">
            <mat-checkbox color="primary"
                          [value] = "doc"
                          (change) = "getCheckedRelevantDocuments($event.source.value)">{{doc}}</mat-checkbox>
          </li>
        </ul>
      </section>
    </div>
    <div class="col-4"></div>
  </div>
</div>
<app-footer></app-footer>
